@{
    ViewBag.Title = "Wistron DCC - Customer Master";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption topfocus" tabindex='1' style="font-size:25px !important;"><b><span id="spanTitle">Customer</span></b></span>
                <div class="widget-buttons">
                    <div>
                        <a id="ancbacktoList" href="/Admin/Customer" class="btn btn-azure btn-xs" style="font-size:13px;font-weight:bold;">
                            <i class="fa fa-arrow-circle-left"></i> Back to list
                        </a>

                        <a id="ancaddNew" href="javascript:displayAddDiv();" class="btn btn-azure btn-xs add" style="font-size:13px;font-weight:bold;">
                            <i class="fa fa-plus-circle"></i> Add Customer
                        </a>
                    </div>
                </div>
            </div>
            <div class="widget-body" id="addDiv">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div id="CustomerID" style="display:none;"></div>
                            <div class="col-lg-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label><strong>Customer Code</strong><span class="mandatory">*</span></label>
                                    <input title="Customer Code" class="form-control" id="CustomerCode" name="Name" type="text" value="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label><strong>Customer Name</strong><span class="mandatory">*</span></label>
                                    <input title="Customer Name" class="form-control" id="CustomerName" name="Name" type="text" value="">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-12">
                                <div class="form-group" id="divCheckbox">
                                    <label><strong>Active</strong></label>
                                    <div class="checkbox">
                                        <label>
                                            <input id="chk1" type="checkbox" checked="checked">
                                            <span class="text"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="col-lg-1 col-sm-1 col-xs-12">
                                <div class="form-group">
                                    <button class="btn btn-azure" id="btnAdd" type="button">Add</button>
                                    <button class="btn btn-azure" id="btnUpdate" type="button">Update</button>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-1 col-xs-12">
                                <div class="form-group">
                                    <button class="btn btn-azure" id="btnCancel" type="button">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="widget-body" id="tableDiv">
                <table class="table table-striped table-hover table-bordered" id="editabledatatable">
                    <thead>
                        <tr role="row">
                            <th>
                                ID
                            </th>
                            <th>
                                Customer Code
                            </th>
                            <th>
                                Customer Name
                            </th>
                            <th>
                                Is Active
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var txt in ViewBag.Data)
                        {
                            <tr>
                                <td>@txt.ID</td>
                                <td>@txt.Code</td>
                                <td>@txt.Name</td>
                                <td>@txt.IsActive</td>
                                <td>
                                    <a href="#" class="btn btn-azure btn-xs edit" onclick="EditCustomer('@txt.ID','@txt.Code','@txt.Name','@txt.IsActive')"><i class="fa fa-edit"></i> Edit</a>
                                    <a href="#" class="btn btn-redcolor btn-xs delete" onclick="DeleteCustomer('@txt.ID','@txt.Name')"><i class="fa fa-trash-o"></i> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section PageScripts{

    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script src="~/assets/js/bootbox/bootbox.js"></script>
    <script>
        $(document).ready(function () {
            $("#addDiv").hide();
            $("#ancbacktoList").hide();
            InitiateCustomerDataTable.init();
        });
        function displayAddDiv() {
            $("#addDiv").show();
            $("#ancbacktoList").show();
            $("#tableDiv").hide();
            $("#ancaddNew").hide();
            $("#divCheckbox").hide();
            $("#btnUpdate").hide();

            $("#CustomerID").text('');
            $("#CustomerCode").val('').prop("disabled", "");
            $("#CustomerName").val('');

        }
        function EditCustomer(ID, Code, Name, flgActive) {
            $("#addDiv").show();
            $("#ancbacktoList").show();
            $("#tableDiv").hide();
            $("#ancaddNew").hide();
            $("#divCheckbox").show();

            $("#btnUpdate").show();
            $("#btnAdd").hide();

            $("#CustomerID").text(ID);
            $("#CustomerCode").val(Code).prop("disabled","disabled");
            $("#CustomerName").val(Name);

            if (flgActive)
                $("#chk1").prop("checked", "checked");
            else
                $("#chk1").prop("checked", "");

        }
        function ValidateFields() {
            $("#CustomerCode").removeClass("manfieldredborder");
            $("#CustomerName").removeClass("manfieldredborder");
            var errmsg = '';
            if ($("#CustomerCode").val().trim() == '') {
                $("#CustomerCode").addClass("manfieldredborder");
                errmsg += 'Customer Code <br />';
            }
            else {
                $("#CustomerCode").removeClass("manfieldredborder");
            }
            if ($("#CustomerName").val().trim() == '') {
                $("#CustomerName").addClass("manfieldredborder");
                errmsg += 'Customer Name';
            }
            else {
                $("#CustomerName").removeClass("manfieldredborder");
            }
            if (errmsg != '') {
                $('.btn-warning').trigger('click');
                $('.modal-body').html(errmsg);
                return false;
            }
            return true;
        }

        $("#btnAdd").click(function () {
            if (ValidateFields()) {
                $.ajax({
                    url: "/Customer/AddCustomer",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    data: JSON.stringify({ customerCode: $('#CustomerCode').val().trim(), customerName: $('#CustomerName').val().trim(), active: $('#chk1').prop('checked') }),
                    success: function (data) {
                        if (data.message == 'exception') {
                            $('.btn-danger').trigger('click');
                            $('.modal-body').html('Error while saving the Customer Details');
                        }
                        else if (data.message.indexOf("exists") >= 0) {
                            $('.btn-warning').trigger('click');
                            $('.modal-body').html('Customer Code or Name Already Exists');
                        }
                        else {
                            $('.btn-success').trigger('click');
                            $('.modal-body').html("Customer Saved Successfully");
                            $('#modal-success').on('hide.bs.modal', function () {
                                window.location = '/Admin/Customer';
                            });
                        }
                    },
                    error: function (xhr) {
                        //alert('error');
                    }
                });


            }
        });


        $("#btnUpdate").click(function () {
            if (ValidateFields()) {
                var fileData = new FormData();
                fileData.append("CustomerID", $("#CustomerID").text().trim());
                fileData.append("txtCode", $("#CustomerCode").val().trim());
                fileData.append("txtName", $("#CustomerName").val().trim());
                if ($("#chk1").prop("checked"))
                    fileData.append("flgActive", true);
                else
                    fileData.append("flgActive", false);

                $.ajax({
                    url: "/Customer/UpdateCustomer",
                    dataType: "json",
                    type: "POST",
                    beforeSend: function () {
                        $("#overlay").show();
                        $("#overlay").addClass('modal-backdrop fade in');
                        $("#sidebar").addClass('modal-backdrop fade in');
                    },
                    complete: function () {
                        $("#overlay").hide();
                        $("#overlay").removeClass('modal-backdrop fade in');
                        $("#sidebar").removeClass('modal-backdrop fade in');
                    },
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: fileData,
                    success: function (data) {
                        if (data.success) {
                            if (data.message == 'exception') {
                                $('.btn-danger').trigger('click');
                                $('.modal-body').html('Error While updating the Customer.');
                            }
                            else if (data.message.indexOf("exists") >= 0) {
                                $('.btn-warning').trigger('click');
                                $('.modal-body').html('Customer Name Already Exists');
                            }
                            else {
                                $('.btn-success').trigger('click');
                                $('.modal-body').html('Customer Updated Successfully...');
                                $('#modal-success').on('hide.bs.modal', function () {
                                    window.location = '/Admin/Customer';
                                })
                            }
                        }
                    }
                });
            }
        });
        $("#btnCancel").click(function () {
            window.location = '/Admin/Customer';
        });

        function DeleteCustomer(ID, Name)
        {
            bootbox.confirm("Are you sure to Delete the Customer " + Name +"?", function (result) {
                if (result) {
                    var fileData = new FormData();
                    fileData.append("ID", ID);

                    $.ajax({
                        url: "/Customer/DeleteCustomer",
                        dataType: "json",
                        type: "POST",
                        beforeSend: function () {
                            $("#overlay").show();
                            $("#overlay").addClass('modal-backdrop fade in');
                            $("#sidebar").addClass('modal-backdrop fade in');
                        },
                        complete: function () {
                            $("#overlay").hide();
                            $("#overlay").removeClass('modal-backdrop fade in');
                            $("#sidebar").removeClass('modal-backdrop fade in');
                        },
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: fileData,
                        success: function (data) {
                            if (data.success) {
                                if (data.message == 'exception') {
                                    $('.btn-danger').trigger('click');
                                    $('.modal-body').html('Error While Deleting the Customer.');
                                }
                                else {
                                    $('.btn-success').trigger('click');
                                    $('.modal-body').html("Customer Deleted Successfully");
                                    $('#modal-success').on('hide.bs.modal', function () {
                                        window.location = '/Admin/Customer';
                                    })
                                }
                            }
                        }
                    });
                }
            });


        }
    </script>
}