
@{
    ViewBag.Title = "DMS  - Revision History";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption topfocus" tabindex='1' style="font-size:25px !important;"><b><span id="spanTitle">Document Revisions</span></b></span>
            </div>            
            <div class="widget-body">
                <table class="table table-striped table-hover table-bordered" id="editabledatatable">
                    <thead>
                        <tr role="row">
                            <th>RNo</th>
                            <th>ID</th>
                            <th>
                                Document Number
                            </th>
                            <th>
                                Revision
                            </th>
                            @*<th>
                                Edit Version
                            </th>*@
                            <th>
                                Document Description
                            </th>
                            <th nowrap>
                                Published On
                            </th>
                            <th>
                                Department
                            </th>
                            <th>
                                Section
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Project
                            </th>
                            @*<th>
            Download
        </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var txt in ViewBag.Data)
                        {
                        <tr>
                            <td>@txt.RNo</td>
                            <td>@txt.DocumentPublishID</td>
                            <td>
                                <a target="_blank" style="text-decoration: underline; white-space:nowrap;" href="/Request/HistoryDetails?IsHistory=true&ID=@txt.DocumentPublishID">@txt.DocumentNo</a>

                            </td>
                            <td>
                                @if (@txt.OriginalVersion != null)
                                {
                                    @txt.OriginalVersion.ToString()
                                    @*<a target="_blank" style="text-decoration: underline; white-space:nowrap;" href="/Request/Details?IsHistory=true&ID=@txt.DocumentPublishID">@txt.OriginalVersion.ToString().Split('.')[0]</a>*@
                                }
                            </td>
                            @*<td>
        @if (@txt.EditVersion != null)
        {
            @txt.EditVersion.ToString()
            <a target="_blank" style="text-decoration: underline; white-space:nowrap;" href="/Request/Details?IsHistory=true&ID=@txt.DocumentPublishID">@txt.OriginalVersion.ToString().Split('.')[0]</a>
                            }
                            </td>*@
                            <td>@txt.DocumentDescription</td>
                            <td nowrap>@txt.PublishedOn</td>

                            <td>@txt.DepartmentName</td>
                            <td>@txt.SectionName</td>
                            <td>@txt.DocumentCategoryName</td>
                            <td>@txt.ProjectName</td>
                            @*<td nowrap>
            <a style="text-decoration:underline;white-space:nowrap;" href='@Url.Action("DownloadPublishedHistoryDocument", "Dashboard", new { folderPath = @txt.ReadableFilePath, versionNo= @txt.OriginalVersion, fileName= @txt.ReadableDocumentName })'>View Document</a>

        </td>*@
                        </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

@section PageScripts{

    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script src="~/assets/js/bootbox/bootbox.js"></script>

    <script>

        $(document).ready(function () {
            InitiateDocHistoryDataTable.init();
            $("#editabledatatable_filter").find('input[type="search"]').css("width", "250px");
        });
        

    </script>
}


