<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label"><strong>Upload Type</strong></label>
                    @if (@ViewBag.Data.DocumentPublishID.ToString() == "00000000-0000-0000-0000-000000000000")
                    {
                        <label class="col-lg-7 control-label text-align-left">New Document</label>
                    }
                    else
                    {
                        <label class="col-lg-7 control-label text-align-left"><span style="background-color:yellow;padding:5px;">Existing Document</span></label>
                    }
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label"><strong>Document Category</strong></label>
                    <label class="col-lg-7 control-label text-align-left">
                        @ViewBag.Data.DocumentCategoryName
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label"><strong>Department</strong></label>
                    <label class="col-lg-7 control-label text-align-left">@ViewBag.Data.DepartmentName</label>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label"><strong>Section</strong></label>
                    <label class="col-lg-7 control-label text-align-left">
                        @ViewBag.Data.SectionName
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label"><strong>Project</strong></label>
                    <label class="col-lg-7 control-label text-align-left">
                        @ViewBag.Data.ProjectName
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label"><strong>Function</strong></label>
                    <label class="col-lg-7 control-label text-align-left">
                        @ViewBag.Data.FunctionName
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-lg-4"><strong>Document Number</strong></label>
                    <label class=" col-lg-7 control-label text-align-left">
                        @ViewBag.Data.DocumentNo
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-lg-4"><strong>New Revision</strong></label>
                    <label class=" col-lg-7 control-label text-align-left">
                        @ViewBag.DraftVersion
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-lg-4"><strong>Created By</strong></label>
                    <label class=" col-lg-7 control-label text-align-left">
                        @ViewBag.Data.UploadedUserName
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-lg-4"><strong>Created On</strong></label>
                    <label class=" col-lg-7 control-label text-align-left">
                        @ViewBag.Data.CreatedDate
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-lg-4"><strong>Document Description</strong></label>
                    <label class=" col-lg-7 control-label text-align-left">
                        <div id="divDocumentDescription">@ViewBag.Data.DocumentDescription</div>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-lg-4"><strong>Stage</strong></label>
                    <label class=" col-lg-7 control-label text-align-left">
                        @ViewBag.Data.CurrentStage
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="display:none;">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-lg-4">
                            <strong>Editable Document</strong>
                        </label>
                        <div class=" col-lg-5">
                            <input class="form-control" id="DOCEditableFile" name="DOCC" type="file" value="">
                        </div>
                        <div class=" col-lg-2">
                            <button class="btn btn-azure " type="button" id="btnConvertFile">Convert to PDF</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="col-lg-4 control-label"><strong>Converted Document</strong></label>
                        <label class="col-lg-7 control-label text-align-left">
                            <a id="ancConvertedDocLink" style="text-decoration:underline;" href='#'></a>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label"><strong>Editable Document</strong></label>
                    <label class="col-lg-7 control-label text-align-left">
                        @ViewBag.Data.EditableDocumentName
                        <a style="text-decoration:underline;" href='@Url.Action("DownloadDocument", "Dashboard", new { folderPath = @ViewBag.Data.EditableFilePath,folder = TEPL.QMS.Common.Constants.QMSConstants.DraftFolder, versionNo= @ViewBag.Data.DraftVersion, fileName= @ViewBag.Data.EditableDocumentName })'><i class="menu-icon glyphicon glyphicon-download eye-open-font-size"></i></a>
                        @*&nbsp;&nbsp;
                        <a title="View Document" target="_blank" style="text-decoration:underline;" href='#'><i class="menu-icon glyphicon glyphicon-eye-open eye-open-font-size"></i></a>*@
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label"><strong>Readable Document</strong></label>
                    <label class="col-lg-7 control-label text-align-left">
                        @*<a target="_blank" style="text-decoration:underline;" href='@ViewBag.ViewerURL?stage=Draft&version=@ViewBag.Data.DraftVersion&documentid=@ViewBag.Data.DocumentID'>@ViewBag.Data.ReadableDocumentName</a>
                        <br />*@
                        <a title="View Document" target="_blank" style="text-decoration:underline;" href='~/PDFViewer/ConfigureDocumentURL?docURL=@TEPL.QMS.Common.Constants.QMSConstants.DraftFolder/@ViewBag.Data.ReadableFilePath/@ViewBag.Data.ReadableDocumentName'> @ViewBag.Data.ReadableDocumentName </a>
                        &nbsp;&nbsp;
                        <a title="View Document" href='@Url.Action("DownloadDocument", "Dashboard", new { folderPath = @ViewBag.Data.ReadableFilePath, folder = TEPL.QMS.Common.Constants.QMSConstants.DraftFolder, versionNo= @ViewBag.Data.DraftVersion, fileName= @ViewBag.Data.ReadableDocumentName })' style="text-decoration:underline;"><i class="menu-icon glyphicon glyphicon-download eye-open-font-size"></i></a>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-lg-4"><strong>Editable Document</strong></label>
                    <div class=" col-lg-7">
                        <input class="form-control" id="DOCFile" name="DOC" type="file" value="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-lg-4"><strong>Readable Document</strong></label>
                    <div class=" col-lg-7">
                        <input class="form-control" id="DOCFile2" name="DOC2" type="file" value="">
                    </div>
                </div>

            </div>
        </div>
        @if (@ViewBag.Data.DocumentPublishID.ToString() == "00000000-0000-0000-0000-000000000000")
        {
            <span></span>
        }
        else
        {
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-lg-2" style=""><strong>Revision Reason</strong></label>
                        <label id="RevisionReason" class=" col-lg-9 control-label text-align-left" style="">@ViewBag.Data.RevisionReason</label>

                    </div>
                </div>
            </div>
        }


        @*<div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label col-lg-2" style=""><strong>User Comments</strong></label>
                    <label class=" col-lg-9 control-label text-align-left" style="">
                        @ViewBag.Data.Comments
                    </label>
                </div>
            </div>
        </div>*@
        <div class="row" id="divSection1">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="col-lg-2 control-label" style=""><strong><span id="spanComments">Comments</span> </strong></label>
                    <div class="col-lg-9" style="">
                        <textarea class="form-control" rows="4" placeholder="Comments..." style="resize:none;" id="txtComments"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="divSection2">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div style="float:right;margin-right:150px;">
                    <button class="btn btn-azure " type="submit" id="btnPublish">Publish</button>
                    <button class="btn btn-redcolor " type="submit" id="btnRejectDocument">Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>