
@{
    ViewBag.Title = "DMS - DocumentNo";
}


<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption topfocus" tabindex='1' style="font-size:25px !important;"><b><span id="spanTitle">Document No</span></b></span>
            </div>
            <div class="widget-body" id="divEditPane">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label"><strong>Department Name</strong></label>
                                    <label class="col-lg-7 control-label text-align-left" id="lblDepartment"></label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label"><strong>Section Name</strong></label>
                                    <label class="col-lg-7 control-label text-align-left" id="lblSection">

                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label"><strong>Category Name</strong></label>
                                    <label class="col-lg-7 control-label text-align-left" id="lblCategory"></label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label"><strong>Project Name</strong></label>
                                    <label class="col-lg-7 control-label text-align-left" id="lblProject">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label"><strong>Function</strong></label>
                                    <label class="col-lg-7 control-label text-align-left" id="lblFunction"></label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label"><strong>Document level</strong></label>
                                    <label class="col-lg-7 control-label text-align-left" id="lblLevel"></label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-xs-12">
                                <div class="form-group" style="display:inline-flex;width:100%">
                                    <div id="divSerialNoID" style="display:none;"></div>
                                    <label class="col-lg-4 control-label"><strong>Serial No</strong><span class="mandatory">*</span></label>
                                    <input onkeydown="AllowNumbers(event);" title="Serial No" class="col-lg-7 form-control manfield" id="SerialNo"
                                           name="SerialNo" type="text" value="" style="width:40%">
                                    <button style="margin-left:10px" class="btn btn-azure" id="btnUpdate" type="button">Update</button>
                                    <button style="margin-left:10px" class="btn btn-azure" id="btnCancel" type="button">Cancel</button>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divMainPage">
                <div class="widget-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12">
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label>Department</label>
                                                <select class="form-control" name="department" data-bv-field="department" id="ddlDepartment">
                                                    <option value="0">All</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label>Section</label>
                                                <select class="form-control" name="section" data-bv-field="section" id="ddlSection">
                                                    <option value="0">All</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-2 col-xs-12">
                                            <div class="form-group">
                                                <label>Project</label>
                                                <select class="form-control" name="project" data-bv-field="project" id="ddlProject">
                                                    <option value="0">All</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label>Category</label>
                                                <select class="form-control" name="category" data-bv-field="category" id="ddlDocCategory">
                                                    <option value="0">All</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-xs-12">
                                            <div class="form-group">
                                                <label>Function</label>
                                                <select class="form-control" name="category" data-bv-field="category" id="ddlFunction">
                                                    <option value="0">All</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-1 col-xs-12">
                                            <div class="form-group">
                                                <label style="color:white;">TEPL</label>
                                                <button class="btn btn-azure" id="btnGetData" type="button">Get Data</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-body">
                    <table class="table table-striped table-hover table-bordered" id="editabledatatable">
                        <thead>
                            <tr role="row">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Department Name
                                </th>
                                <th>
                                    Function Name
                                </th>                                
                                <th>
                                    Section Name
                                </th>                               
                                <th>
                                    Project Name
                                </th>
                                <th>
                                    Category Name
                                </th>
                                <th>
                                    Document Level
                                </th>
                                <th>
                                    Serial No
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var txt in ViewBag.Data)
                            {
                                <tr>
                                    <td>@txt.ID</td>
                                    <td>@txt.DepartmentName</td>
                                    <td>@txt.FunctionName</td>
                                    <td>@txt.SectionName</td>
                                    <td>@txt.ProjectName</td>
                                    <td>@txt.DocumentCategoryName</td>
                                    <td>@txt.DocumentLevel</td>
                                    @*<td>@txt.SerialNo</td>*@
                                    <td>
                                        <a id="ancEditNumber" href="javascript:EditSerialNo('@txt.ID','@txt.SerialNo','@txt.DepartmentName','@txt.SectionName','@txt.ProjectName','@txt.DocumentCategoryName', '@txt.FunctionName','@txt.DocumentLevel');"
                                           style="font-size:13px;font-weight:bold;text-decoration:underline;">
                                            @txt.SerialNo
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            

        </div>
    </div>
</div>

@section PageScripts{

    <!--Bootstrap Tags Input-->
    <script src="~/assets/js/tagsinput/bootstrap-tagsinput.js"></script>

    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script src="~/assets/js/bootbox/bootbox.js"></script>
    <script>
        $(document).ready(function () {
            $("#divMainPage").show();
            $("#divEditPane").hide();
            InitiateDocumentNoDataTable.init();
            BindDropDownBoxes("../../DocumentInitiate/GetDropDownBoxes", $('#ddlDepartment'), $('#ddlDocCategory'), $('#ddlProject'), $('#ddlFunction'), 'All',true);
        });
        $("#btnCancel").click(function () {
            $("#divMainPage").show();
            $("#divEditPane").hide();
            $("#divSerialNoID").text('');
            $("#SerialNo").val('');
            $("#lblDepartment").text('');
            $("#lblSection").text('');
            $("#lblProject").text('');
            $("#lblCategory").text('');
        });
        $("#ddlDepartment").change(function () {
            if ($('#ddlDepartment').val() != 0)
                BindSectionsForDept("../../DocumentInitiate/GetSectionsForDepartment", $('#ddlSection'), $('#ddlDepartment').val(),'All');
            else {
                //Clear all Section values except first
                $('#ddlSection').find("option").remove();
                $('#ddlSection').append('<option title="All" value="0">All</option>');
            }
        });
        $("#btnGetData").click(function () {
            var dept = ''; var sec = ''; var category = ''; var project = ''; var fnc = '';
            if ($("#ddlDepartment option:selected").text() != 'All')
                dept = $("#ddlDepartment option:selected").attr('code');
            if ($("#ddlSection option:selected").text() != 'All')
                sec = $("#ddlSection option:selected").attr('code');
            if ($("#ddlDocCategory option:selected").text() != 'All')
                category = $("#ddlDocCategory option:selected").attr('code');
            if ($("#ddlProject option:selected").text() != 'All')
                project = $("#ddlProject option:selected").attr('code');
            if ($("#ddlFunction option:selected").text() != 'All')
                fnc = $("#ddlFunction option:selected").attr('code');
            //alert($("#form-field-checkbox").val());
            GetDocumentNumbers(dept, sec, project, category, fnc);
        });
        function GetDocumentNumbers(dept, sec, project, category, fnc) {
            //Delete all existing records
            var table = $("#editabledatatable").dataTable();
            var rowsCount = table.$('tr').length;
            for (var z = 0; z < rowsCount; z++) {
                var nRow = table.$('tr')[z];
                table.fnDeleteRow(nRow);
            }

            $.ajax({
                url: "/DocumentNo/GetDocumentNumbers",
                dataType: "json",
                type: "POST",
                beforeSend: function () {
                    $("#overlay").show();
                    $("#overlay").addClass('modal-backdrop fade in');
                    $("#sidebar").addClass('modal-backdrop fade in');
                },
                complete: function () {
                    $("#overlay").hide();
                    $("#overlay").removeClass('modal-backdrop fade in');
                    $("#sidebar").removeClass('modal-backdrop fade in');
                },
                contentType: 'application/json; charset=utf-8',
                cache: false,
                data: JSON.stringify({ department: dept, section: sec, project: project, category: category, function: fnc }),
                success: function (data) {
                    if (data.success) {
                        if (data.message == 'error') {
                            $('.btn-danger').trigger('click');
                            $('.modal-body').html('Error While getting the document nos.');
                        }
                        else {
                            //Bind the data
                            for (var z = 0; z < data.message.length; z++) {
                                var id = data.message[z].ID.trim();
                                //var numberLink = '<a href="EditSerialNo("'+id+'","' + data.message[z].SerialNo + '","' + data.message[z].DepartmentName + '","' + data.message[z].SectionName + '","' + data.message[z].ProjectName + '","' + data.message[z].DocumentCategoryName + '");" style="font-size:13px;font-weight:bold;text-decoration:underline;">' + data.message[z].SerialNo+'</a>';
                                var numberLink = '<a  style="text-decoration:underline;" href="#" onclick="EditSerialNo(\'' + id + '\',\'' + data.message[z].SerialNo + '\',\'' + data.message[z].DepartmentName + '\',\'' + data.message[z].SectionName + '\',\'' + data.message[z].ProjectName + '\',\'' + data.message[z].DocumentCategoryName +'\');">' + data.message[z].SerialNo+'</a>';
                                var record = [data.message[z].ID, data.message[z].DepartmentName, data.message[z].FunctionName, data.message[z].SectionName, data.message[z].ProjectName, data.message[z].DocumentCategoryName, data.message[z].DocumentLevel, numberLink];
                                var nRow = $("#editabledatatable").dataTable().fnAddData(record);
                            }
                        }
                    }
                },
                error: function (xhr) {
                    $('.btn-danger').trigger('click');
                    $('.modal-body').html('Error While getting the document nos.');
                }
            });
        }
        function resetValue() {
            $("#ddlDepartment").val(0);
            $("#ddlSection").val(0);
            $("#ddlSection").find("option").remove();
            $("#ddlSection").append('<option title="All" value="0">All</option>');
            $("#ddlDocCategory").val(0);
            $("#ddlProject").val(0);
        }

        function EditSerialNo(ID, Number, Dept, Section, Project, Category, fnc, level) {
            $("#divSerialNoID").text(ID);
            $("#SerialNo").val(Number);
            $("#lblDepartment").text(Dept);
            $("#lblSection").text(Section);
            $("#lblProject").text(Project);
            $("#lblCategory").text(Category);
            $("#lblFunction").text(fnc);
            $("#lblLevel").text(level);

            $("#divMainPage").hide();
            $("#divEditPane").show();
        }
        $("#btnUpdate").click(function () {
            var documentNoGUID = $("#divSerialNoID").text();
            var serialNo = $("#SerialNo").val().trim();
            if (serialNo != '') {
                //Proceed and save DB
                $.ajax({
                    url: "/DocumentNo/UpdateSerialNo",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    data: JSON.stringify({ DocumentID: documentNoGUID, SerialNo: serialNo }),
                    success: function (data) {
                        if (data.success) {                            
                            $('.btn-success').trigger('click');
                            $('.modal-body').html('Serial No Updated Successfully');

                            //redirect after success altert close
                            $('#modal-success').on('hide.bs.modal', function () {
                                window.location = '/Admin/DocumentNo';
                            })
                        }
                        else {
                            $('.btn-danger').trigger('click');
                            $('.modal-body').html('Update failed...');
                        }
                    },
                    error: function (xhr) {
                        //alert('error');
                    }
                });
            }
            else {
                $('.btn-warning').trigger('click');
                $('.modal-body').html('Serial No is required');
            }
        });

        function TestFunction(v1) {
            alert('asdasd');
        }
    </script>
}

